<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:rgba(201, 134, 134, .9);">
  <a class="navbar-brand" href="#" style="color:#f4e9cd;">
     <img src="assets/img/ReadyRelief.png" width="30" height="30" class="d-inline-block align-top" alt="">
     ReadyRelief
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/relief"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" target="_blank" href="#logout" data-toggle = "modal" data-target= "#logout" data-backdrop="static" data-keyboard="false"><i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="logout">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout successful.</h5>
            </div>
            <div class="modal-body">
                <i class='fa fa-spinner fa-spin'></i> Redirecting you to the login screen...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss = "modal" routerLink="/login">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <br>
  <div class="card">
    <h3 class="card-header">
      Create a New Post
    </h3>
    <div class="card-body">
      <form [formGroup]="submitForm">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type of Help
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">#food</a>
            <a class="dropdown-item">#water</a>
            <a class="dropdown-item">#electricity</a>
            <a class="dropdown-item">#gas</a>
            <a class="dropdown-item">#manual labor</a>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Title<span class="require" title="This field is required.">*</span></label>
          <input type="text" class="form-control" formControlName="title" required autofocus/>
        </div>
        <div class="form-group">
          <label>Assistance Details<span class="require" title="This field is required.">*</span></label>
          <textarea class="form-control" rows="5" formControlName="body" required autofocus></textarea>
        </div>
      </form>
    </div>
    <div class="card-footer" style="text-align:center">
      <button type="submit" class="button" routerLink="/prepare"><h3>Submit for Review!</h3></button>
    </div>
  </div>
</div>
